extends layout

block content
  div.text-center!= 'Connect with ' + client.name
    form(method='post', action='/api/oauth2/authorize')
        input(type='hidden', name='transaction_id', value=transaction_id)
        input(type='hidden', name='response_type', value=response_type)
        input(type='hidden', name='client_id', value=client._id)
        input(type='hidden', name='auth_url', value=currentURL)
        input(type='hidden', name='scope', value=scope.join(','))

        .well
            p= client.name + ' requires permission to '
                each item in scope
                    if scope.indexOf(item) == scope.length-2
                        != '<strong>' + map[item] + '</strong> and '
                    else
                        if scope.indexOf(item) == scope.length-1
                            != '<strong>' + map[item] + '</strong>'
                        else
                            != '<strong>' + map[item] + '</strong>, '
                | .
            if user
                p Click <em>Authorize</em> to allow this app to connect with your account.
            else
                p Sign in below to allow this app to connect with your account.

        each message in errors
          .alert.alert-warning
            p= message

        if user
            .form-group.info-padded
                p.text-center!= 'Signed in as <strong>' + user.username + '</strong>'
            p.text-right
                a(href='/logout?next=' + encodeURIComponent(currentURL))= 'Not ' + user.username + '?'
                button.btn.btn-default(type='submit') Authorize →
        else
            .form-group
                label(for='username') username
                input.form-control#email(type='text', name='username', autofocus)
            .form-group
                label(for='password') Password
                p.small!= 'Your password will <strong>not</strong> be shared with <strong>' + client.name + '</strong>'
                input.form-control#password(type='password', name='password')
            p.text-right
                button.btn.btn-default(type='submit') Authorize →
