extends layout

block content
  h2 Welcome #{__('app.name')}

  div(class="login container" style="margin-top: 40px")

    div(class="row")
      div(class="col-sm-6 col-md-6 col-md-offset-3")
        div.card
          h4.card-header Authorization
          div.card-block
            p.card-text!= '<strong>' + client.name + '</strong>' + '&nbsp' + __('dsp.msg.application.connect')
            p.card-text!= '<strong>' + client.name + '</strong>' + '&nbsp' + __('dsp.msg.require.permission')

            form(role="form", action="/api/oauth2/authorize", method="post")
              input(type='hidden', name='transaction_id', value=transaction_id)
              input(type='hidden', name='response_type', value=response_type)
              input(type='hidden', name='client_id', value=client._id)
              input(type='hidden', name='auth_url', value=currentURL)
              input(type='hidden', name='scope', value=scope.join(','))

              fieldset
                div(class="row")
                  div(class="center-block text-center")

                    div(class="center-block", style="width: 90%; margin-bottom: 20px;")
                      ul.list-group
                        each item in scope
                          li.list-group-item!= '<strong>' + map[item] + '</strong>'

                div(class="row")
                  div(class="col-sm-12 col-md-10 col-md-offset-1")
                    if user
                      p!= __('dsp.msg.sinedin') + '<strong>' + user.username + '</strong>'
                      a(href='/logout?next=' + encodeURIComponent(currentURL))= 'Not ' + user.username + '?'
                    else
                      div(class="form-group")
                        div(class="input-group")
                          span(class="input-group-addon")
                            i(class="fa fa-user")
                          input(class="form-control", type="text", name="username", placeholder="Username", autofocus)
                      div(class="form-group")
                        div(class="input-group")
                          span(class="input-group-addon")
                            i(class="fa fa-unlock-alt")
                          input(class="form-control", type="password", name="password", placeholder="Password", value="")

                    div(class="form-group")
                      input(class="btn btn-lg btn-primary btn-block", type="submit", value="#{__('dsp.control.authorize')}")

          div(class="card-footer text-muted")
            //- span Don't have an account? &nbsp
            //- a(href="#") SignupHere

