extends layout

block content
  h2 Welcome #{__('app.name')}

  div.text-center!= client.name + __('dsp.msg.application.connect')
    form(method='post', action='/api/oauth2/authorize')
        input(type='hidden', name='transaction_id', value=transaction_id)
        input(type='hidden', name='response_type', value=response_type)
        input(type='hidden', name='client_id', value=client._id)
        input(type='hidden', name='auth_url', value=currentURL)
        input(type='hidden', name='scope', value=scope.join(','))

        .well
            p= client.name + __('dsp.msg.require.permission')
              ul
                each item in scope
                  li!= '<strong>' + map[item] + '</strong>'
            if user
                p!=__('dsp.msg.require.logined')
            else
                p!=__('dsp.msg.require.login')

        each message in errors
          .alert.alert-warning
            p= message

        if user
            .form-group.info-padded
                p.text-center!= __('dsp.msg.sinedin') + '<strong>' + user.username + '</strong>'
            p.text-right
                a(href='/logout?next=' + encodeURIComponent(currentURL))= 'Not ' + user.username + '?'
                button.btn.btn-default(type='submit')!= __('dsp.control.authorize')
        else
            .form-group
                label(for='username') #{__('dsp.control.username')}:
                input.form-control#username(type='text', name='username', autofocus)
            .form-group
                label(for='password') #{__('dsp.control.password')}:
                p.small #{__('dsp.msg.password.notshare')}
                input.form-control#password(type='password', name='password')
            p.text-right
                button.btn.btn-default(type='submit')!= __('dsp.control.authorize')
