extends layout

block content

  .container.login(style="margin-top: 40px")
    .row
      .col-sm-6.col-md-6.col-md-offset-3
        .card
          h4.card-header.text-xs-center!=__('dsp.title.auth')
          .card-block

            form(role="form", action="/api/oauth2/authorize", method="post")
              input(type='hidden', name='transaction_id', value=transaction_id)
              input(type='hidden', name='response_type', value=response_type)
              input(type='hidden', name='client_id', value=client._id)
              input(type='hidden', name='auth_url', value=currentURL)
              input(type='hidden', name='scope', value=scope.join(','))

              fieldset
                .row
                  .center-block(style="width: 90%; margin-bottom: 20px;")
                    p.text-xs-center!= '<strong>' + client.name + '</strong>' + '&nbsp' + __('dsp.msg.application.connect')

                .row
                  .center-block
                    i.fa.fa-user.fa-5x(style="width:65px; height:95px; margin:0 auto 10px; display: block;")

                .row
                  .col-sm-12.col-md-10.col-md-offset-1
                    if user
                      p!= __('dsp.msg.sinedin') + '<strong>' + user.username + '</strong>'
                      a(href='/logout?next=' + encodeURIComponent(currentURL))= 'Not ' + user.username + '?'
                    else
                      .form-group
                        .input-group
                          span.input-group-addon
                            i.fa.fa-user
                          input.form-control(type="text", name="username", placeholder="Username", autofocus)
                      .form-group
                        .input-group
                          span.input-group-addon
                            i.fa.fa-unlock-alt
                          input.form-control(type="password", name="password", placeholder="Password", value="")

                      if errors
                        each message in errors
                          .alert.alert-warning
                            p= message

                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(type="submit", value="#{__('dsp.control.authorize')}")

                .row
                  .center-block(style="width: 75%; margin-bottom: 20px;")
                    p!=__('dsp.msg.require.scope')
                    ul.list-group
                      each item in scope
                        li.list-group-item!= '<strong>' + item + '</strong>'

          .card-footer.text-muted
            span Don't have an account? &nbsp
            a(href="#") SignupHere

