extends layout

block content
  h2 Welcome #{__('app.name')}

  div(class="login container" style="margin-top: 40px")
    div(class="row")
      div(class="col-sm-6 col-md-6 col-md-offset-3")
        div(class="panel panel-default")
          div(class="panel-heading")
            strong Authorization
          div(class="panel-body")
            each message in errors
              .alert.alert-warning
                p= message

            form(role="form", action="/api/oauth2/authorize", method="post")
              input(type='hidden', name='transaction_id', value=transaction_id)
              input(type='hidden', name='response_type', value=response_type)
              input(type='hidden', name='client_id', value=client._id)
              input(type='hidden', name='auth_url', value=currentURL)
              input(type='hidden', name='scope', value=scope.join(','))

              fieldset
                div(class="row")
                  div(class="center-block text-center")
                    p!= '<strong>' + client.name + '</strong>' + __('dsp.msg.application.connect')
                    p!= '<strong>' + client.name + '</strong>' + __('dsp.msg.require.permission')

                    div(class="center-block", style="width: 90%;")
                      ul.list-group
                        each item in scope
                          li.list-group-item!= '<strong>' + map[item] + '</strong>'

                    if user
                        p!=__('dsp.msg.require.logined')
                    else
                        p!=__('dsp.msg.require.login')

                div(class="row")
                  div(class="col-sm-12 col-md-10 col-md-offset-1")
                    if user
                      .form-group.info-padded
                          p.text-center!= __('dsp.msg.sinedin') + '<strong>' + user.username + '</strong>'
                      p.text-center
                          a(href='/logout?next=' + encodeURIComponent(currentURL))= 'Not ' + user.username + '?'
                    else
                      div(class="form-group")
                        div(class="input-group")
                          span(class="input-group-addon")
                            i(class="glyphicon glyphicon-user")
                          input(class="form-control", type="text", name="username", placeholder="Username", autofocus)
                      div(class="form-group")
                        div(class="input-group")
                          span(class="input-group-addon")
                            i(class="glyphicon glyphicon-lock")
                          input(class="form-control", type="password", name="password", placeholder="Password", value="")

                    div(class="form-group")
                      input(class="btn btn-lg btn-primary btn-block", type="submit", value="#{__('dsp.control.authorize')}")

          div(class="panel-footer")
            span Don't have an account!
            a(href="#") SignupHere

