extends layout

block content
  h2 Welcome #{__('app.name')}

  h2 #{__('dsp.login')}

  each message in error
    .alert.alert-warning
      p= message

  form(action="/login", method="post")
    div
      label #{__('dsp.control.username')}:
      input(type="text", name="username")
    div
      label #{__('dsp.control.password')}:
      input(type="password", name="password")
    div
      input(type="submit", value="#{__('dsp.control.login')}")

