#template-changePassword-modal.modal.fade(client='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', area-label='close')
          span(area-hidden='true')
        h4.modal-title!= __('dsp.modal.changePassword')
      .modal-body
        form.template-changePassword-form
          .form-group
            label(for='input-username')!= __('dsp.control.username')
            input#input-username.form-control(name='username', type='text', placeholder='user id')
          .form-group
            label(for='input-password')!= __('dsp.control.password')
            input#input-password.form-control(name='password', type='password', placeholder='old password')
          .form-group
            label(for='input-newPassword')!= __('dsp.control.newPassword')
            input#input-newPassword.form-control(name='newPassword', type='password', placeholder='new password')
          .form-group
            label(for='input-newPasswordAgain')!= __('dsp.control.newPasswordAgain')
            input#input-newPasswordAgain.form-control(name='newPasswordAgain', type='password', placeholder='new password again')

      .modal-footer
        button.btn.btn-default(data-dismiss='modal') Close
        button.btn.btn-primary.btn-changePassword-post Save changes
