div.container.contents#template-menu(style="display: none;")
  if user
    h2!= __('menu.title')
    .row
      if user && user.is(config.application.init.admin.role)
        .col-sm-6.col-md-4
          .card
            .card-block
              h4.card-title!= __('menu.manage.user.title')
              p.card-text!= __('menu.manage.user.detail')
              a.btn.btn-primary.btn-start(data-kind="user") start

        .col-sm-6.col-md-4
          .card
            .card-block
              h4.card-title!= __('menu.manage.role.title')
              p.card-text!= __('menu.manage.role.detail')
              a.btn.btn-primary.btn-start(data-kind="role") start

        .col-sm-6.col-md-4
          .card
            .card-block
              h4.card-title!= __('menu.manage.setting.title')
              p.card-text!= __('menu.manage.setting.detail')
              a.btn.btn-primary.btn-start(data-kind="setting") start

      if user
        .col-sm-6.col-md-4
          .card
            .card-block
              h4.card-title!= __('menu.manage.client.title')
              p.card-text!= __('menu.manage.client.detail')
              a.btn.btn-primary.btn-start(data-kind="client") start

        .col-sm-6.col-md-4
          .card
            .card-block
              h4.card-title!= __('menu.manage.profile.title')
              p.card-text!= __('menu.manage.profile.detail')
              a.btn.btn-primary.btn-start(data-kind="profile") start

if user && user.is('admin')
  include user
  include role
  include setting

if user
  include client
  include profile
